:root {
    --primary: #00d213;
    --secondary: #ffd95c;
    --gray: #626976;
    --dark-gray: #333;

    --primary-filter: invert(61%) sepia(80%) saturate(3820%) hue-rotate(89deg) brightness(103%) contrast(111%);

    --spacing-xs: 0.125rem;
    --spacing-sm: 0.25rem;
    --spacing-md: 0.50rem;
    --spacing-lg: 1rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 4rem;
}

.headline {
    font-family: 'Simplonoi headline', sans-serif !important;
}

.text-light {
    font-weight: 100;
}

.text-height-md {
    line-height: 21px;
}

.text-height-lg {
    line-height: 27px;
}

.text-bold {
    font-weight: bold;
}


.nav {
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-lg);
}

.nav p {
    font-size: 1.5rem;
}

.btn-phone {
    background-color: var(--primary);
    padding: var(--spacing-lg);
    border-radius: 100px;
    color: white;
    font-weight: 500;
    line-height: 1.4rem;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.hero {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-xl);
    padding-bottom: 0;
    gap: var(--spacing-xl);
}

.family {
    margin-bottom: -3px;
}

.hero-title {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.hero-title span {
    color: var(--primary);
}


.hero .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xl);
}

.btn-buy,
.btn-buy_price-row {
    padding: var(--spacing-lg);
    background-color: var(--secondary);
    align-self: center;
    border-radius: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.btn-buy_price-row {
    background-color: var(--primary);
    color: white;
}

.color-white {
    color: white;
}

.color-primary {
    color: var(--primary);
}

.uppercase {
    text-transform: uppercase;
}

.hero .footnote {
    font-size: .75rem;
    align-self: center;
}

.plans {
    padding: var(--spacing-xl);
}

.plans h3,
.plans h4 {
    text-align: center;
}

.plans h4 {
    font-weight: 100;
}

.card-prices-container,
.card-prices-container_laptop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xl);
    padding: var(--spacing-xl);
}

.card-prices-container_laptop {
    display: none;
}

.card-price {
    padding: var(--spacing-xl);
    border: 1px #a19c9c;
    border-radius: 10px;
    box-shadow: -1px -1px 3px 5px rgb(67 67 67 / 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 640px;
    gap: var(--spacing-md);
}

.card-price-title {
    font-size: 3.3rem;
    font-weight: 500;
    text-align: center;
}

.card-price ul li {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
    margin-top: var(--spacing-lg);
}

.card-icon {
    filter: var(--primary-filter);
}

.card-price .divider {
    width: 100%;
    border: 1px var(--primary) solid;
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
}

.card-price a {
    padding: var(--spacing-lg);
    background-color: var(--primary);
    color: white;
    width: 100%;
    text-align: center;
    align-self: center;
    border-radius: 100px;
    font-weight: bold;
}

.card-price .footnote {
    font-size: .75rem;
}

.price-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.price-currency {
    font-family: 'Simplonbp webfont', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700
}

.price-value {
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Simplonoi headline', sans-serif;
    color: #00d213;
    font-size: 64px;
    line-height: 76px;
    font-weight: 400
}

.price-coins {
    font-family: 'Simplonbp webfont', sans-serif;
    color: #434343;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    text-align: left
}

.price-row {
    display: grid;
    padding: var(--spacing-lg);
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    border: 1px solid #0065dd;
    border-radius: 10px;
    text-align: center;
}

.price-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
}

.price-container_laptop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.price-currency_laptop {
    font-family: 'Simplonbp webfont', sans-serif;
    font-size: 24px;
    font-weight: 700
}

.price-value_laptop {
    font-family: 'Simplonoi headline', sans-serif;
    color: #00d213;
    font-size: 64px;
    font-weight: 400
}

.price-coins_laptop {
    font-family: 'Simplonbp webfont', sans-serif;
    color: #434343;
    font-size: 24px;
    font-weight: 500;
    text-align: left
}

.enjoy {
    padding: var(--spacing-xl);
    background-color: #626976;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.enjoy-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.enjoy-items-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.know-more,
.know-more-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.know-more {
    padding: var(--spacing-xl);
}


footer div {
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-lg);
}

/*Tablets*/
@media only screen and (min-width: 768px) {
    .hero {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .hero .left {
        padding-bottom: var(--spacing-xxl);
    }

    .enjoy-items-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/*Laptop*/
@media only screen and (min-width: 1024px) {

    .card-prices-container {
        display: none;
    }

    .card-prices-container_laptop {
        display: flex;
    }

    .card-price {
        width: auto;
        max-width: none;
        height: auto;
    }

    .card-price a {
        width: auto;
    }

    .card-price .footnote {
        text-align: center;
    }

    .know-more {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }

    .know-more img {
        justify-self: center;
    }

    .know-more-content {
        align-items: flex-start;
    }

    .know-more-content p {
        margin-top: var(--spacing-md);
        margin-bottom: calc(2*var(--spacing-xxl));
    }
}

/*Laptop L*/
@media only screen and (min-width: 1440px) {

    section,
    nav,
    footer div {
        padding-left: 12rem !important;
        padding-right: 12rem !important;
    }
}