:root {
    --primary: #00d213;
    --secondary: #ffd95c;
    --gray: #626976;

    --spacing-xs: 0.125rem;
    --spacing-sm: 0.25rem;
    --spacing-md: 0.50rem;
    --spacing-lg: 1rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 4rem;
}


.nav {
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-lg);
}

.nav p {
    font-size: 1.5rem;
}

.btn-phone {
    background-color: var(--primary);
    padding: var(--spacing-lg);
    border-radius: 100px;
    color: white;
    font-weight: 500;
    line-height: 1.4rem;
}

.hero {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-xl);
    gap: var(--spacing-xl);
}

.hero-title {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.hero-title span {
    color: var(--primary);
}


.hero .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xl);
}

.btn-buy {
    padding: var(--spacing-lg);
    background-color: var(--secondary);
    align-self: center;
    border-radius: 100px;
    font-weight: bold;
}

.color-white {
    color: white;
}

.footnote {
    font-size: .75rem;
}